[Desktop Entry]
Type=Application
Name=conky
Exec=conky --daemonize --pause=11 -c /home/a0xd/.config/conky/Astro
StartupNotify=false
Terminal=false
Icon=conky-logomark-violet
Categories=System;Monitor;
